        <footer>
            <div class="footcontainer">
                <p class="copy">&copy; 2024 - MIT License</p>
                <br>
                <p class="credit">
                    <a href="https://github.com/laurenwilson27">Lauren Wilson</a>&nbsp;&bull;&nbsp;
                    <a href="https://github.com/natchiarot">Nat Chiarot</a>&nbsp;&bull;&nbsp;
                    <a href="https://github.com/DanteOnTheBass">Steven Squires</a>&nbsp;&bull;&nbsp;
                    <a href="https://github.com/mitchell-barkley">Mitchell Barkley</a>
                </p>
            </div>
        </footer>
    </body>
</html>