<nav>
    <a href="/">Home</a>&nbsp;&bull;&nbsp;
    <% if (false) { %>
        <a href="/search">Search Resumés</a>&nbsp;&bull;&nbsp;
        <a href="/signOut">Sign Out</a>&nbsp;&bull;&nbsp;
    <% } else { %>
        <a href="/signIn">Sign In</a>&nbsp;&bull;&nbsp;
        <a href="/signUp">Sign Up</a>&nbsp;&bull;&nbsp;
    <% } %>
</nav>