<%- include('partials/head') %>
<div class="outer-container">
    <div class="inner-container">
        <main>
            <div class="notfound">
                <img src="../Sprint2_S3_IMAGES/404.jpg" alt="404 error" width="350px" height="400px">
            </div>
        </main>
    </div>
</div>
<%- include('partials/foot') %>
