<%- include('partials/head') %>
<main>
  <div class="outer-container">
    <div class="inner-container1">
      <div class="alert-div">
        <h2><%= heading %></h2>
        <p><%= message %></p>
      </div>
    </div>
  </div>
</main>
<%- include('partials/foot') %>
