<%- include('partials/head') %>
<main>
  <div class="outer-container">
    <div class="inner-container1">
      <section class="welcome">
        <h2>Welcome to PrecisionHire Pro</h2>
        <p>
          Streamline your hiring process by quickly filtering through job
          applicants' resumes to find your ideal candidates.
        </p>
      </section>

      <section class="features">
        <h2>Key Features</h2>
        <ul>
          <li>Advanced Filtering Options</li>
          <li>Search by Skills, Experience, and More</li>
          <li>Quick Applicant Overview</li>
          <li>Secure Data Handling</li>
        </ul>
      </section>

      <section class="how-it-works">
        <h2>How It Works</h2>
        <div class="steps">
          <ol>
            <li>step 1</li>
            <li>step 2</li>
            <li>step 3</li>
            <li>step 4</li>
            <li>step 5</li>
            <li>step 6 add or delete steps as needed</li>
          </ol>
        </div>
      </section>
      <!-- Optional: Add a testimonials section here -->
    </div>
  </div>
</main>
<%- include('partials/foot') %>
