<%- include('partials/head') %>
<%- include('partials/nav') %>
<main>
    <p>
        Welcome to the Resumé Search App! This app allows you to search for resumés by keyword.
    </p>
    <p>
        <a href="/views/signIn.ejs">Sign In</a> to access the search feature.
        <a href="/views/signUp.ejs">Sign Up</a> to create an account.
    </p>
</main>
<%- include('partials/foot') %>
