Index page for resumes <br />
<ul>
  <% resumes.forEach(resume => { %>
  <li>
    #<%= resume.resume_id %> <%= resume.applicantname %><br />
    <textarea style="width: 800px; height: 200px" disabled>
<%= resume.resumetext %></textarea
    >
  </li>
  <% } ) %>
</ul>
