<%- include('partials/head') %>
<main>
  <div class="outer-container">
    <div class="inner-container1">
      <div class="inco1">
        <h2>Resumé Search</h2>
        <form action="/resumes/search" method="GET">
          <label class="searchLabel" for="search">Search by keyword:</label>
          <input type="text" id="search" name="query" />
          <label class="searchLabel" for="search">Search by job ID:</label>
          <input type="text" id="search-job" name="job" />
          <select id="database" name="target">
            <option value="pg">PostgreSQL</option>
            <option value="m">MongoDB</option>
            <option value="all">Both</option>
          </select>
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</main>
<%- include('partials/foot') %>
