<ul>
  <li>
    Resume #<%= resume.resume_id %> for <%= resume.applicantname %><br />
    <textarea style="width: 800px; height: 200px" disabled>
  <%= resume.resumetext %></textarea
    >
  </li>
</ul>
