<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PH Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Applicant_Search_Styles.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header">
                <div class="titleblock">
                    <h1 class="website-name">PrecisionHire Pro</h1>
                    <blockquote class="slogan">“So many candidates, so little time!”</blockquote>
                </div>
                <div class="btns-containerAnB">
                    <div class="btns-containerA">
                        <a href="#" class="btnA">Index</a> <!-- main -->
                        <a href="#" class="btnA">Search</a>
                        <!-- <a href="#" class="btnA">Results</a> -->
                    </div>
                    <div class="btns-containerB">
                        <a href="#" class="btnB">Sign Up</a>
                        <a href="#" class="btnB">Sign In</a>
                        <a href="#" class="btnB">Log Out</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-section">
            <div class="welcome-message">
                <span>Welcome, <br>User!</span>
            </div>
        </div>

    </header>

    <div class="breadcrumb">
        <a href="#" onclick="history.back(); return false;" style="color:#5a96ea;">&lt; Back</a>
    </div>

    <div class="outer-container">
        <div class="inner-container">
            <form action="/search" method="get"> <!-- Update action attribute as needed -->
                <div class="search-query">
                    <h3>Search Query</h3>
                    <br>
                    <label for="search-input">Please input keywords to search. (Not-Optional)</label>
                    <input type="text" id="search-input" name="search" placeholder="term1, term2, etc." required
                        aria-label="Search">
                </div>
                <br>
                <div class="search-filters">


                    <label for="job-id-input">Please input job_ID to search. (Optional)</label>
                    <input type="text" id="job-id-input" name="jobId" placeholder="Enter job_ID">

                    <br><br>

                    <label for="sort-select">Select source database:</label>
                    <select id="sort-select" name="sort">
                        <option value="MongoDB">MongoDB</option>
                        <option value="Postgres">Postgres</option>
                        <option value="Both">Both databases</option>
                        <!-- Add more sorting options as needed -->
                    </select>
                </div>

                <br>

                <center><button type="submit" class="registerbtn">Search</button></center>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footercontentA">
            <div class="social-links">
                <!-- <a href="https://www.facebook.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/FacebookLogo.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/InstagramLogo.png" alt="Instagram">
                </a>
                <a href="https://twitter.com/home" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/TwitterLogo.png" alt="Twitter">
                </a>
                <a href="https://www.youtube.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/YouTubeLogo.png" alt="Youtube">
                </a> -->
            </div>
            <div class="copyright">
                &copy; 2024 Money4Lifeforce Ltd. The rights of all are reserved.
            </div>
        </div>
        <div class="footercontentB">
            <div class="back-to-top">
                <a href="#top" id="backToTopBtn">Back to Top</a>
            </div>
        </div>
    </footer>

    <!-- <script src="SPRINT2_Forum_script.js"></script> -->

</body>

</html>