<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PH SignIn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Applicant_Search_Styles.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header">
                <div class="titleblock">
                    <h1 class="website-name">PrecisionHire Pro</h1>
                    <blockquote class="slogan">“Let's make it happen captain!”</blockquote>
                </div>
                <div class="btns-containerAnB">
                    <div class="btns-containerA">
                        <a href="#" class="btnA">Index</a> <!-- main -->
                        <a href="#" class="btnA">Search</a>
                        <!-- <a href="#" class="btnA">Results</a> -->
                    </div>
                    <div class="btns-containerB">
                        <a href="#" class="btnB">Sign Up</a>
                        <a href="#" class="btnB">Sign In</a>
                        <a href="#" class="btnB">Log Out</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-section">
            <div class="welcome-message">
                <span>Welcome, <br>User!</span>
            </div>
        </div>

    </header>

    <div class="breadcrumb">
        <a href="#" onclick="history.back(); return false;" style="color:#5a96ea;">&lt; Back</a>
    </div>

    <div class="outer-container1">
        <div class="inner-container1">
            <form action="/signin" method="post">
                <div class="container">
                    <h1>Sign In</h1>
                    <hr>

                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit" class="registerbtn">Sign In</button>
                </div>

                <div class="signin">
                    <p>Don't have an account? <a href="/signup" class="signin-link">Sign up</a>.</p>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footercontentA">
            <div class="social-links">
                <!-- <a href="https://www.facebook.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/FacebookLogo.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/InstagramLogo.png" alt="Instagram">
                </a>
                <a href="https://twitter.com/home" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/TwitterLogo.png" alt="Twitter">
                </a>
                <a href="https://www.youtube.com/" class="social-icon">
                    <img src="Sprint2_S3_IMAGES/YouTubeLogo.png" alt="Youtube">
                </a> -->
            </div>
            <div class="copyright">
                &copy; 2024 Money4Lifeforce Ltd. The rights of all are reserved.
            </div>
        </div>
        <div class="footercontentB">
            <div class="back-to-top">
                <a href="#top" id="backToTopBtn">Back to Top</a>
            </div>
        </div>
    </footer>

    <!-- <script src="SPRINT2_Forum_script.js"></script> -->

</body>

</html>